{% set all_tables = check.tables + check.tables_from_env %}
{% if all_tables %}
{% set table_entries %}{% for t in check.tables %}"{{ t }}", {% endfor %}{% for e in check.tables_from_env %}os.Getenv("{{ e | prefixed_env(config.env_prefix) }}"), {% endfor %}{% endset %}
{% if check.message_before %}
	if err := checkPostgresTablesEmpty(db, []string{ {{ table_entries }}}, "{{ check.on_start }}"); err != nil {
		logger.Error.Fatalf("{{ check.message_before }}: %v", err)
	}
{% else %}
	if err := checkPostgresTablesEmpty(db, []string{ {{ table_entries }}}, "{{ check.on_start }}"); err != nil {
		logger.Error.Fatal(err)
	}
{% endif %}
{% endif %}
{% if check.on_success.event %}
	tracker.Ping("{{ check.on_success.event }}", nil)
{% endif %}
