	if err := func() error {
		redisCli, err := redisConnect("{{ check.addr_env | prefixed_env(config.env_prefix) }}", "{{ check.url_env | prefixed_env(config.env_prefix) }}")
		if err != nil {
			return err
		}
		defer redisCli.Close()

		return redisZRangeCheck(
			rootCtx,
			redisCli,
			{{ config.get_embedded_var_by_file(check.answers_file) }},
			{{ check.timeout_per_key_seconds }}*time.Second,
			"{{ check.message_wrong_count }}",
			"{{ check.message_wrong_value }}",
			"{{ check.message_key_missing }}",
		)
	}(); err != nil {
{% if check.on_failure.event %}
		tracker.Ping("{{ check.on_failure.event }}", nil)
{% endif %}
{% if check.on_failure.message %}
		logger.Error.Fatalf("{{ check.on_failure.message }}: %v", err)
{% else %}
		logger.Error.Fatal(err)
{% endif %}
	}
{% if check.on_success.event %}
	tracker.Ping("{{ check.on_success.event }}", nil)
{% endif %}
